
// Main colors
$bg-blue: #00436c;
$bg-darkblue: #003250;
$bg-lightblue: #2490c3;
$bg-orange: #f18903;
$bg-red: #f84737;
$bg-white: #fff;
$bg-green: #6cd37d;
$bg-grey: #f1f1f1;

// Text
$title-grey: #4a4a4a;
$txt-grey: #a5a5a5;
$txt-white: #fff;
$txt-orange: #f18903;

// Misc
$error: #e1302a;

$light-grey: #e4e9f2;

// Input fields
$input-grey: #dfe3e9;

// Button colors
$btn-orange: #ed8b00;
$btn-blue: #298fc2;
$btn-red: #f84737;

// Screen sizes
$screen-xs: 380px;
$screen-sm: 575px;
$screen-md: 768px;
$screen-lg: 991px;
$screen-xl: 1200px;